div#panelcontainer-designmode > div.panel-workarea {
	bottom: 70px;
	left: 340px;
	right: 10px;
	top: 10px;
}
div#panelcontainer-designmode > div.panel-bottom {
	height: 50px;
	bottom: 10px;
	left: 10px;
	right: 10px;
}
div#panelcontainer-designmode > div.panel-left {
	width: 320px;
	bottom: 70px;
	left: 10px;
	top: 10px;
}
/*#designer-images.slides */div.sep, /*#designer-images.slides */div.image {
	display: block;
	float: left;
}