/*
 * CSS3: CSS Fonts
 *
 * UI font.
 *
 * Usage:
 * font-family: "Open Sans", sans-serif;
 */
@import url(style-font.css);
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);*/
/*
 * CSS3: CSS Fonts
 *
 * Stamp fonts. Font weight is 400 (or 700 in two cases).
 *
 * Usage:
 * font-family: 'Permanent Marker', cursive;
 * font-family: 'Corben', cursive;
 * font-family: 'Shadows Into Light', cursive;
 * font-family: 'UnifrakturCook', cursive;
 * font-family: 'Rock Salt', cursive;
 * font-family: 'Chewy', cursive;
 * font-family: 'Special Elite', cursive;
 * font-family: 'UnifrakturMaguntia', cursive;
 * font-family: 'Black Ops One', cursive;
 * font-family: 'Sancreek', cursive;
 */
/*@import url(http://fonts.googleapis.com/css?family=Permanent+Marker|Corben:700|Shadows+Into+Light|UnifrakturCook:700|Rock+Salt|Chewy|Special+Elite|UnifrakturMaguntia|Black+Ops+One|Sancreek);*/
@import url(style-panel.css);
@import url(designer.css);
@import url(viewer.css);
@import url(accordion.css);
* {
	font-weight: normal;
}
body {
	font-family: SlideshowNormal, sans-serif;
	font-weight: normal;
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
	font-size: 0.9em;
}
body > div {
	display: none;
}
body.mode-viewer div#viewer, body.mode-designer div#designer {
	display: block;
}
p, figure {
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 2em;
	font-weight: normal;
	letter-spacing: -0.02em;
	margin: 0;
	padding: 0;
}
h1 input {
	font-family: SlideshowNormal;
	font-weight: normal;
	font-size: 1em;
	border: 1px solid transparent;
	background-color: transparent;
	width: 100%;
}
h1 input:hover,
h1 input:focus {
	border: 1px solid #ccc;
	background-color: rgba(100%, 100%, 100%, 0.5);
}
div[draggable] {
	cursor: move;
}
.slides div.sep, .slides div.image {
	height: 250px;
	display: block;
	margin: 10px;
}

.slides div.sep {
	width: 30px;
	border: 1px dashed #aaa;
	background-color: #eee;
	border-radius: 10px;
}
/*
 * Special separator design if no slides have been added.
 */
.slides div.sep:only-child {
	width: 100px;
}
.slides div.image {
	width: 250px;
	border: 1px solid #aaa;
	background-color: #eee;
	position: relative; /* relative positioning to allow absolute positioning of delete buttons. */
	/*
	 * CSS Image Values and Replaced Content
	 */
	background-image: -moz-radial-gradient(rgba(0,0,0,0.6), transparent);
	background-image: -webkit-radial-gradient(rgba(0,0,0,0.6), transparent);
	/*
	 * CSS Backgrounds and Borders
	 */
	border-radius: 10px;
	box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.5);
	background-repeat: no-repeat;
	background-position: center center;
}
.slides figure {
	/*
	 * CSS3: Flexible Box Layout
	 */
	-moz-box-align: center;
	-webkit-box-align: center;
	-moz-box-orient: vertical;
	-webkit-box-orient: vertical;
	display: -moz-box;
	display: -webkit-box;
	height: 100%;
	width: 100%;
}
.slides figure div {
	/*
	 * CSS3: Flexible Box Layout
	 */
	-moz-box-align: center;
	-webkit-box-align: center;
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	display: -moz-box;
	display: -webkit-box;
}
.slides figure img {
	border: 1px solid #777;
	vertical-align: middle;
}
.slides figcaption {
	/*
	 * CSS3: Flexible Box Layout
	 */
	-moz-box-flex: 0;
	-webkit-box-flex: 0;
	font-size: 0.9em;
	color: rgba(0, 0, 0, 0.5);
	margin: 0.5em 0;
}
.slides div.image:nth-child(4n+1) {
	background-color: #ccc;
}
.slides div.sep {
	/*
	 * CSS Transitions
	 */
	-moz-transition: background-color 0.5s linear;
	-webkit-transition: background-color 0.5s linear;
}
.slides div.sep.drag-over {
	background-color: blue;
}
button {
	display: inline-block;
	background-repeat: no-repeat;
	height: 16px;
	width: 16px;
	border: none;
	background-color: transparent;
	vertical-align: bottom;
}
button.delete {
	background-image: url("delete.png");
	position: absolute;
	top: 2px;
	right: 2px;
}
button.fullsize {
	background-image: url("photo.png");
}
button.save {
	background-image: url("disk.png");
}

a {
	text-decoration: none;
	color: #00f;
}
a.dimmed {
	color: #88d;
}
a > span {
	position: relative;
}
a > span > span {
	position: absolute;
	top: -3em;
	left: 50%;
	width: 50em;
	margin-left: -25em;
	font-size: 80%;
	display: none;
	text-align: center;

}
a > span > span > span {
	/*
	 * CSS3: CSS Backgrounds and Borders
	 */
    -moz-border-image: url("tooltip-border.png") 5 5 10 5 repeat;
    -webkit-border-image: url("tooltip-border.png") 5 5 10 5 stretch;
    
	text-decoration: none;
	color: #807d66;
    border-width: 5px 5px 10px 5px;
    padding: 2px 5px;
}

/*
 * CSS3: Animation
 */
a:hover > span > span {
	display: block;
	-moz-animation: tooltip 1.25s;
	-webkit-animation: tooltip 1.25s;
}

#current-slideshows {
	margin: 0;
	padding: 0;
}
#current-slideshows a {
	display: block;
	padding: 0.5em 0;
}

/*
 * CSS3: Selectors
 */
#current-slideshows p#slideshow-list,
#current-slideshows footer {
	font-size: 0.8em;
	color: #999;
}
#current-slideshows p:first-child:nth-last-child(3),
#current-slideshows p#slideshow-list,
#current-slideshows footer {
	display: none;
}
#current-slideshows p:first-child,
#current-slideshows p#slideshow-list:nth-last-child(2),
#current-slideshows a+footer {
	display: block;
}

/*
 * CSS3: Animations
 */
@-moz-keyframes tooltip {
	0% {
		opacity: 0.0;
	}
	80% {
		opacity: 0.0;
		top: -2.5em;
	}
	100% {
		opacity: 1.0;
	}
}
@-webkit-keyframes tooltip {
	0% {
		opacity: 0.0;
	}
	80% {
		opacity: 0.0;
		top: -2.5em;
	}
	100% {
		opacity: 1.0;
	}
}
