div.panelcontainer,
div.panel {
	position: absolute;
}
div.panelcontainer, div.panel-workarea {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
div.panelcontainer-cols {
}
div.panelcontainer-rows {
	/*
	 * CSS3: Flexible Box Layout
	 */
	-moz-box-orient: vertical;
	-webkit-box-orient: vertical;
	-moz-box-align: stretch;
	-webkit-box-align: stretch;
	
	height: 600px;
	height: 100%;
}
div.panel {
	/*
	 * CSS3: Flexible Box Layout
	 */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /*
     * CSS3 Basic User Interface Module
     */
    box-sizing: border-box;
    /*
     * CSS Backgrounds and Borders
     */
    border-radius: 10px 10px 10px 10px;
    /*
     * CSS Image Values and Replaced Content
     */
    background-image: -moz-linear-gradient(#ddd, #fff 2em);
    background-image: -webkit-linear-gradient(#ddd, #fff 2em);
    
    border: 1px solid #ccc;
    margin: 0px;
    padding: 10px;
}
div.panel-toolbar {
}
div.panel-top {
	top: 0;
	left: 0;
	right: 0; 	
}
div.panel-left {
	bottom: 0;
	left: 0;
	top: 0; 	
}
div.panel-right {
	bottom: 0;
	top: 0;
	right: 0; 	
}
div.panel-workarea {
	overflow: auto;
}

