div#panelcontainer-viewer > div.panel-workarea {
    bottom: 10px;
    left: 10px;
    right: 10px;
    top: 10px;
}
div#panelcontainer-viewer > div.panel-workarea > div {
	/*
	 * CSS3: Flexible Box Layout
	 */
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    display: -moz-box;
    display: -webkit-box;

    height: 100%;
    width: 100%;
}
#viewer header {
	/*
	 * CSS3: Flexible Box Layout
	 */
    -moz-box-flex: 0;
    -webkit-box-flex: 0;
}
#viewer article {
	/*
	 * CSS3: Flexible Box Layout
	 */
    -moz-box-align: center;
    -webkit-box-align: center;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    display: -moz-box;
    display: -webkit-box;

    overflow: hidden;
}
#viewer article section {
	/*
	 * CSS3: Flexible Box Layout
	 */
    -moz-box-align: center;
    -webkit-box-align: center;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    display: -moz-box;
    display: -webkit-box;

    overflow: hidden;
}
#viewer article section figure {
    left: 50%;
    position: absolute;
}
#viewer article section figure.selection-mode {
    cursor: crosshair;
}
#viewer article section figure figcaption {
	/*
	 * CSS3: Transitions
	 */
    -moz-transition: opacity 0.3s ease-in-out 0s;
    -webkit-transition: opacity 0.3s ease-in-out 0s;
    
    margin-top: -1em;
    opacity: 0;
    position: absolute;
    top: 50%;
    width: 100%;

	text-align: center;
	
	font-family: SlideshowStrong;
	font-size: 2em;
	color: #fff;
	
	/*
	 * CSS3: Text
	 */
	text-shadow: 0.05em 0.05em 0.2em #000;
}
#viewer article section figure:hover figcaption {
    opacity: 0.9;
}
#viewer article section figure.selection-mode:hover figcaption {
    opacity: 0;
}
#viewer article section figure blockquote {
	/*
	 * CSS3: Backgrounds and Borders
	 */
    -moz-border-image: url("annotation-balloon-border.png") 15 10 10 15 repeat;
    -webkit-border-image: url("annotation-balloon-border.png") 15 10 10 15 repeat;
    
    border-width: 15px 10px 10px 15px;
    margin: 0;
    padding: 0;
    position: absolute;
}
#viewer article section figure blockquote span {
    left: -3px;
    position: relative;
    top: 2px;
    font-family: SlideshowQuote;
}
#viewer article section figure img {
    border: 1px solid #AAAAAA;
    box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.5);
    display: block;
}
#viewer article section figure svg, #viewer article section figure canvas {
    left: 0;
    position: absolute;
    top: 0;
}
#viewer article nav {
	/*
	 * CSS3: Flexible Box Layout
	 */
    -moz-box-flex: 0;
    -webkit-box-flex: 0;
}
#viewer article nav:first-child {
}
#viewer article nav:last-child {
}
#viewer footer {
	/*
	 * CSS3: Flexible Box Layout
	 */
    -moz-box-flex: 0;
    -webkit-box-flex: 0;
    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    display: -moz-box;
    display: -webkit-box;
}
#viewer footer nav:first-child {
	/*
	 * CSS3: Flexible Box Layout
	 */
    -moz-box-flex: 0;
    -webkit-box-flex: 0;
}
#viewer footer nav:last-child {
	/*
	 * CSS3: Flexible Box Layout
	 */
    -moz-box-flex: 1;
    -webkit-box-flex: 1;

    text-align: center;
}
#viewer #viewer-slide-container {
    width: 1000px;
    height: 1000px;
    position: relative;
}

figure .transition-wrapper {
	position: relative;
}
#viewer #viewer-slide-container > figure .transition-wrapper {
	/*
	 * CSS3: Transitions
	 */
    -moz-transition: all 1s ease-in-out 0s;
    -webkit-transition: all 1s ease-in-out 0s;
    
	/*
	 * CSS3: Flexible Box Layout
	 */
    -moz-transform: rotate(5deg) scale(1.3);
    -webkit-transform: rotate(5deg) scale(1.3);
    
    opacity: 0;
    top: 100px;
}
#viewer #viewer-slide-container > figure.hidden .transition-wrapper {
}
#viewer #viewer-slide-container > figure.visible .transition-wrapper {
	/*
	 * CSS3: 2D Transforms
	 */
    -moz-transform: none;
    -webkit-transform: none;
    
	top: 0;
    opacity: 1;
}
#viewer .selection {
	/*
	 * CSS3: Color
	 */
    background-color: rgba(100, 100, 100, 0.2);
    border: 1px solid rgba(100, 100, 100, 0.5);
    
    position: absolute;
}
#viewer #viewer-annotations-buttons a {
    padding-right: 0.5em;
}

body:not(.mode-viewer-controller) #viewer-prev-button, body:not(.mode-viewer-controller) #viewer-next-button, body:not(.mode-viewer-controller) header h1 {
	display: none;	
}

/*
 * CSS3: Selectors
 */
body:not(.mode-viewer-controller) #panelcontainer-viewer div.panel.panel-workarea a {
	color: #fc0;
}

/*
 * CSS3: Selectors
 */
body:not(.mode-viewer-controller) #panelcontainer-viewer div.panel.panel-workarea a.dimmed {
	color: #a80;
}

/*
 * CSS3: Selectors
 */
body:not(.mode-viewer-controller) #panelcontainer-viewer div.panel.panel-workarea article section figure img {
	border-color: #777;
}

/*
 * CSS3: Selectors
 */
body:not(.mode-viewer-controller) #panelcontainer-viewer div.panel.panel-workarea {
	
	background-color: #000;
    /*
     * CSS3: Image Values and Replaced Content
     */
    background-image: -moz-linear-gradient(#222, #333 2em);
    background-image: -webkit-linear-gradient(#222, #333 2em);
    
    border: 1px solid #444;
}
