div#panelcontainer-viewer > div.panel-workarea {
    bottom: 10px;
    left: 10px;
    right: 10px;
    top: 10px;
}
div#panelcontainer-viewer > div.panel-workarea > div {
	/*
	 * CSS3: Flexible Box Layout Module
	 */
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    display: -moz-box;
    display: -webkit-box;

    height: 100%;
    width: 100%;
}
#viewer header {
	/*
	 * CSS3: Flexible Box Layout Module
	 */
    -moz-box-flex: 0;
    -webkit-box-flex: 0;
}
#viewer article {
	/*
	 * CSS3: Flexible Box Layout Module
	 */
    -moz-box-align: center;
    -webkit-box-align: center;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    display: -moz-box;
    display: -webkit-box;

    overflow: hidden;
}
#viewer article section {
	/*
	 * CSS3: Flexible Box Layout Module
	 */
    -moz-box-align: center;
    -webkit-box-align: center;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    display: -moz-box;
    display: -webkit-box;

    overflow: hidden;
}
#viewer article section figure {
    left: 50%;
    position: absolute;
}
#viewer article section figure.selection-mode {
    cursor: crosshair;
}
#viewer article section figure figcaption {
	/*
	 * CSS3: CSS Transitions Module Level 3
	 */
    -moz-transition: opacity 0.5s ease-in-out 0s;
    -webkit-transition: opacity 0.5s ease-in-out 0s;
    
    left: 5%;
    margin-top: -25px;
    opacity: 0;
    position: absolute;
    top: 50%;
    width: 90%;

	background-color: #fff;
	text-align: center;
	padding: 1em 0;
	color: #555;
}
#viewer article section figure:hover figcaption {
    opacity: 0.9;
}
#viewer article section figure.selection-mode:hover figcaption {
    opacity: 0;
}
#viewer article section figure blockquote {
	/*
	 * CSS3: CSS Backgrounds and Borders Module Level 3
	 */
    -moz-border-image: url("annotation-balloon-border.png") 15 10 10 15 repeat;
    -webkit-border-image: url("annotation-balloon-border.png") 15 10 10 15 repeat;
    
    border-width: 15px 10px 10px 15px;
    margin: 0;
    padding: 0;
    position: absolute;
}
#viewer article section figure blockquote span {
    left: -3px;
    position: relative;
    top: 2px;
}
#viewer article section figure img {
    border: 1px solid #AAAAAA;
    box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.5);
    display: block;
}
#viewer article section figure svg, #viewer article section figure canvas {
    left: 0;
    position: absolute;
    top: 0;
}
#viewer article nav {
	/*
	 * CSS3: Flexible Box Layout Module
	 */
    -moz-box-flex: 0;
    -webkit-box-flex: 0;
}
#viewer article nav:first-child {
}
#viewer article nav:last-child {
}
#viewer footer {
	/*
	 * CSS3: Flexible Box Layout Module
	 */
    -moz-box-flex: 0;
    -webkit-box-flex: 0;
    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    display: -moz-box;
    display: -webkit-box;
}
#viewer footer nav:first-child {
	/*
	 * CSS3: Flexible Box Layout Module
	 */
    -moz-box-flex: 0;
    -webkit-box-flex: 0;
}
#viewer footer nav:last-child {
	/*
	 * CSS3: Flexible Box Layout Module
	 */
    -moz-box-flex: 1;
    -webkit-box-flex: 1;

    text-align: center;
}
#viewer #viewer-slide-container {
    width: 1000px;
    height: 1000px;
    position: relative;
}

figure .transition-wrapper {
	position: relative;
}
#viewer #viewer-slide-container > figure .transition-wrapper {
	/*
	 * CSS3: CSS Transitions Module Level 3
	 */
    -moz-transition: all 1s ease-in-out 0s;
    -webkit-transition: all 1s ease-in-out 0s;
    
	/*
	 * CSS3: Flexible Box Layout Module
	 */
    -moz-transform: rotate(5deg) scale(1.3);
    -webkit-transform: rotate(5deg) scale(1.3);
    
    opacity: 0;
    top: 100px;
}
#viewer #viewer-slide-container > figure.hidden .transition-wrapper {
}
#viewer #viewer-slide-container > figure.visible .transition-wrapper {
	/*
	 * CSS3: CSS 2D Transforms Module Level 3
	 */
    -moz-transform: none;
    -webkit-transform: none;
    
	top: 0;
    opacity: 1;
}
#viewer .selection {
	/*
	 * CSS3: CSS Color Module Level 3
	 */
    background-color: rgba(100, 100, 100, 0.2);
    border: 1px solid rgba(100, 100, 100, 0.5);
    
    position: absolute;
}
#viewer #viewer-annotations-buttons a {
    padding-right: 0.5em;
}
