div.panelcontainer,
div.panel {
	position: absolute;
}
div.panelcontainer, div.panel-workarea {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
div.panelcontainer-cols {
}
div.panelcontainer-rows {
	-moz-box-orient: vertical;
	-webkit-box-orient: vertical;
	-moz-box-align: stretch;
	-webkit-box-align: stretch;
	height: 600px;
	height: 100%;
}
div.panel {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
    background-image: -moz-linear-gradient(#ddd, #fff 2em);
    background-image: -webkit-linear-gradient(#ddd, #fff 2em);
    margin: 0px;
    padding: 10px;
}
div.panel-toolbar {
}
div.panel-top {
	top: 0;
	left: 0;
	right: 0; 	
}
div.panel-bottom {
	bottom: 0;
	left: 0;
	right: 0; 	
}
div.panel-left {
	bottom: 0;
	left: 0;
	top: 0; 	
}
div.panel-right {
	bottom: 0;
	top: 0;
	right: 0; 	
}
div.panel-workarea {
	overflow: auto;
}


div.panel div.flexpanel-container {
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    display: -moz-box;
    display: -webkit-box;
    height: 100%;
    width: 100%;
}
div.flexpanel-top {
	-moz-box-flex: 0;
	-webkit-box-flex: 0;
}
div.flexpanel-center {
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	overflow: auto;
}
div.flexpanel-bottom {
	-moz-box-flex: 0;
	-webkit-box-flex: 0;
}